# Xcode
#
build/
*.pbxuser
!default.pbxuser

# Xcode project files except for the project file
#
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
xcuserdata
*.xccheckout
DerivedData
*.ipa

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

# Additions
.idea/
.DS_Store
